[[source]]
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
djangorestframework = "*"

[dev-packages]
ipython = "*"
django-debug-toolbar = "*"
coverage = "*"

[requires]
python_version = "3"
